
/* Variable declarations */
@fontSize: 14px;
@smallMargin: 5px;
@mediumMargin: 2 * @smallMargin;
@largeMargin: 3 * smallMargin;

/* General styles */
html,body { font: @fontSize arial, verdana, sans-serif; margin: 0px; padding: 0px; }
* { box-sizing: border-box; }

/* Uncomment this if you don't use boilerplate and still want some default sizing

html,body { height: 100%; }

.row-fluid {
	width: 100%;
}
.row-fluid:before, .row-fluid:after {
	display: table;
	line-height: 0;
	content: "";
}

/* sizing
[class*="span"] {
	float: left;
	min-height: 1px;
}
.span1 {
	width: 8.333333333%;
}
.span3 {
	width: 25%;
}
.span9 {
	width: 75%;
}
.span12 {
	width: 100%;
}

/* prevent border collapsing
[class*="height"]:not(.row-table):before, [class*="height"]:not(.row-table):after {
	display: table;
	line-height: 0;
	content: "";
	overflow: hidden;
	height: 0px;
	width: 0px;
}
.height1 {
	height: 8.333333333%;
}
.height2 {
	height: 16.666666667%;
}
.height3 {
	height: 25%;
}
.height4 {
	height: 33.333333333%;
}
.height9 {
	height: 75%;
}
.height10 {
	height: 83.333333333%;
}
.height11 {
	height: 91.666666667%;
}
.height12 {
	height: 100%;
}*/